@{
    ViewData["Title"] = "Experiencia";
}

<partial name="_HeaderHome"></partial>

<section id="experiencias">
    <h1>EXPERIÊNCIAS</h1>
    <h3>Confira possíveis destinos!</h3>
    <div class="container">
        <div class="conainer-paises-natureza">
            <img src="assets/img/experiencias/natureza.png">
            <h1>Natureza</h1>
            <a href="natureza.html">Explore!</a>
        </div>
        <div class="conainer-paises-restaurante">
            <img src="assets/img/experiencias/restaurante.png">
            <h1>Restaurante</h1>
            <a href="restaurantes.html">Explore!</a>
        </div>
        <div class="conainer-paises-vida-noturna">
            <img src="assets/img/experiencias/vida-noturna.png">
            <h1>Vida Noturna</h1>
            <a href="vida-noturna.html">Explore!</a>
        </div>
        <div class="conainer-paises-espiritualidade">
            <img src="assets/img/experiencias/espiritualidade.png">
            <h1>Espiritualidade</h1>
            <a href="espiritualidade.html">Explore!</a>
        </div>
        <div class="conainer-paises-compras">
            <img src="assets/img/experiencias/compras.png">
            <h1>Compras</h1>
            <a href="compras.html">Explore!</a>
        </div>
        <div class="conainer-paises-cultura">
            <img src="assets/img/experiencias/cultura.png">
            <h1>Cultura</h1>
            <a href="cultura.html">Explore!</a>
        </div>
    </div>
</section>


<div class="banner">
    <img src="assets/img/outros/banner.png">
</div>
