@model AAETravel.ViewModels.ExperienciaVM
@{
    ViewData["Title"] = "Experiencia";
}

<partial name="_HeaderHome"></partial>
<link rel="stylesheet" href="~/css/experiencias.css">
<section id="experiencias">
    <h1>EXPERIÊNCIAS</h1>
    <h3>Confira possíveis destinos!</h3>
    <div class="container">
        @foreach (var experiencia in Model.Experiencias)
        {
            <div class="conainer-paises" style="&:box-shadow: 0 0 10px 4px @experiencia.Cor;">
                <img src="@experiencia.Foto" asp-action="Local">
                <h1>@experiencia.Nome</h1>
                <a asp-action="ExperienciaLocal" style="background-color: @experiencia.Cor;">Explore!</a>
            </div>
        }
    </div>
</section>

<div class="banner">
    <img src="~/img/outros/banner.png">
</div>
