<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
</head>

<body>
    Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit adipisci est temporibus quia nostrum delectus. Excepturi quia sint animi iusto ipsam! Mollitia deleniti fugit consequuntur vitae ex et consequatur corrupti!
</body>

</html>