@model List<AAETravel.ViewModels.ListaVM>
@{
    ViewData["Title"] = "Favoritados";
}
<link rel="stylesheet" href="~/css/destinos-salvos.css">
<link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">


<header id="header">
    <a asp-action="Index" asp-controller="Home">
        <div class="voltar">
            <i class="bi bi-box-arrow-left"></i>
            Voltar
        </div>
    </a>
    <a style="height: 100%;" asp-action="Index" asp-controller="Home">
        <div class="logo">
            <img src="/img/outros/logo.png">
        </div>
    </a>
    <div class="user">
        <partial name="_LoginPartial"></partial>
    </div>
</header>
<h1 style="color: white; text-align: center; margin-top: 50px; text-decoration: underline #7748CF;">Favoritos:</h1>
<section>
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="lugares" style="--Cor:@item.Experiencia.Cor">
                <a class="link" asp-action="Local" asp-route-id="@item.Local.Id" asp-route-experiencia="@item.Experiencia.Id">
                    <img src="@item.Local.Foto">
                    <h1>@item.Local.Nome</h1>
                    <div>Saiba
                        Mais</div>
                </a>
            </div>
        }
    }
    else
    {
        <p class="else">Você ainda não tem favoritos.</p>
    }
</section>