@{
    ViewData["Title"] = "Inicio";
    
}

<partial name="_HeaderHome"></partial>

    <section id="paises">
        <h1>Países</h1>
        <h3>Confira possíveis destinos!</h3>
        <div class="container">
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/Argentina.png" alt="">
                    <h1>Argentina</h1>
                </div>
            </a>
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/EUA.png" alt="">
                    <h1>EUA</h1>
                </div>
            </a>
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/França.png" alt="">
                    <h1>França</h1>
                </div>
            </a>
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/Inglaterra.png" alt="">
                    <h1>Inglaterra</h1>
                </div>
            </a>
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/italia.png" alt="">
                    <h1>Itália</h1>
                </div>
            </a>
            <a href="experiencis.html#experiencias">
                <div class="conainer-paises">
                    <img src="~/img/pais/Portugal.png" alt="">
                    <h1>Portugal</h1>
                </div>
            </a>
        </div>
    </section>
    <section class="galeria">
        <h1>GALERIA DE VÍDEOS</h1>
        <h3>Conheça de perto os países e inspire-se!</h3>
        <div class="videos">
            <div class="video">
                <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/SNx8B_oE8IY?si=e5UlK0yWys_BeLIP; start=11"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/EkshFcLESPU?si=ZZAfTJusbVTJcJh1; start=11"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/2KaD5Wf9Kro?si=QTAHV2F7TdQ0Tu-q; start=11"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
            <div class="video">
                <iframe width="100%" height="100%"
                    src="https://www.youtube.com/embed/7AkemYCvjoc?si=u50PH-fbfACn6fXY; start=11"
                    title="YouTube video player" frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </div>
        </div>
    </section>
    <section>
        <h1>GALERIA DE FOTOS</h1>
        <div class="wrapper">
            <i id="left" class="bi bi-chevron-left"></i>
            <div class="carrossel">
                <img src="~/img/experiencias/carrossel/1.jpeg">
                <img src="~/img/experiencias/carrossel/2.jpeg">
                <img src="~/img/experiencias/carrossel/3.jpeg">
                <img src="~/img/experiencias/carrossel/4.jpeg">
                <img src="~/img/experiencias/carrossel/5.jpeg">
                <img src="~/img/experiencias/carrossel/6.jpeg">
                <img src="~/img/experiencias/carrossel/7.jpeg">
                <img src="~/img/experiencias/carrossel/8.jpeg">
                <img src="~/img/experiencias/carrossel/9.jpeg">
                <img src="~/img/experiencias/carrossel/10.jpeg">
                <img src="~/img/experiencias/carrossel/11.jpeg">
            </div>
            <i id="right" class="bi bi-chevron-right"></i>
        </div>

    </section>

    <section id="agencias">
        <h1>RECOMENDAÇÕES DE AGÊNCIAS</h1>
        <div class="agencias">
            <div class="agencia" style="background-color: #4C8CB7;">
                <a href="https://www.booking.com/?aid=348858&label=gx-br-booking-booking-sd-nhvs">
                    <div class="agencia">
                        <img src="~/img/experiencias/agencias/Booking.png">
                        <div class="titulo">
                            <h3>Booking.com</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="agencia" style="background-color: #E4C34E;">
                <a href="https://www.expedia.com.br/?locale=pt_BR&siteid=69&semcid=BR.B.BING.BT-c-PT.GT&semdtl=a1686369326.b11322714033213817.g1kwd-82670466053188.e1c.m1ab46ac5af65f1b662a4dca08af7b5eb5.r184009ff3402fd6a93a30e8f5d7b5a1cca5430f54f9df56f741e2a4a84089cfd9.c1Cm6dAowtvW27WbJtvR_5Vw.j1147720.k1.d182669875489872.h1e.i1.l1.n1.o1.p1.q1.s1.t1.x1.f1.u1.v1.w1&msclkid=ab46ac5af65f1b662a4dca08af7b5eb5">
                    <div class="agencia">
                        <img src="~/img/experiencias/agencias/Expedia.png">
                        <div class="titulo">
                            <h3>Expedia</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="agencia" style="background-color: #8FB6C8;">
                <a href="https://us.jetcost.com/en?&msclkid=e1b5099fa5b612965fdb6fcdfc044c18&utm_source=bing&utm_medium=cpc&utm_campaign=US-EN_B1_F_S_JC_Comp_Global-EXT_mixed&utm_term=sta%20travel%20com&utm_content=Sta%20Travel&gclid=e1b5099fa5b612965fdb6fcdfc044c18&gclsrc=3p.ds">
                    <div class="agencia">
                        <img src="~/img/experiencias/agencias/STA Travel.png">
                        <div class="titulo">
                            <h3>STA Travel</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="agencia" style="background-color: #00BF63 ;">
                <a href="https://www.tripadvisor.com.br/">
                    <div class="agencia">
                        <img src="~/img/experiencias/agencias/TripAdvisor.png">
                        <div class="titulo">
                            <h3>TripAdvisor</h3>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </section>
    <div class="banner">
        <img src="~/img/outros/banner.png">
    </div>