<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Experiências</title>
    <link rel="stylesheet" href="assets/css/experiencias/style.css">
    <link rel="shortcut icon" href="assets/img/outros/favcon.png" type="image/x-icon">
</head>

<body>
    <header>
        <nav>
            <div id="inicio">
                <a href="index.html">
                    <i class="bi bi-house"></i>
                    Inicio
                </a>
            </div>
            <div class="favoritados">
                <a href="destinos-salvos.html">
                    <i class="bi bi-heart"></i>
                    Favoritados
                </a>
            </div>
            <div class="logo">
                <img src="assets/img/outros/logo.png">
            </div>
            <div class="paises">
                <a href="index.html#paises">
                    <i class="bi bi-globe2"></i>
                    Países
                </a>
            </div>
            <div class="agencias-home">
                <a href="index.html#agencias">
                    <i class="bi bi-geo-alt"></i>
                    Agências
                </a>
            </div>
        </nav>
        <h1>EXPLORE O MUNDO!</h1>

        <img src="assets/img/outros/paralax/preto-branco.png">

    </header>

    <section id="experiencias">
        <h1>EXPERIÊNCIAS</h1>
        <h3>Confira possíveis destinos!</h3>
        <div class="container">
            <div class="conainer-paises">
                <img src="assets/img/experiencias/natureza.png">
                <h1>Natureza</h1>
                <a href="natureza.html" style="background-color: #076437;">Explore!</a>
            </div>
            <div class="conainer-paises">
                <img src="assets/img/experiencias/restaurante.png">
                <h1>Restaurante</h1>
                <a href="restaurantes.html" style="background-color: #E5B712;">Explore!</a>
            </div>
            <div class="conainer-paises">
                <img src="assets/img/experiencias/vida-noturna.png">
                <h1>Vida Noturna</h1>
                <a href="vida-noturna.html" style="background-color: #A12BA4;">Explore!</a>
            </div>
            <div class="conainer-paises">
                <img src="assets/img/experiencias/espiritualidade.png">
                <h1>Espiritualidade</h1>
                <a href="espiritualidade.html" style="background-color: #8A6C47;">Explore!</a>
            </div>
            <div class="conainer-paises">
                <img src="assets/img/experiencias/compras.png">
                <h1>Compras</h1>
                <a href="compras.html" style="background-color: #4B778A">Explore!</a>
            </div>
            <div class="conainer-paises">
                <img src="assets/img/experiencias/cultura.png">
                <h1>Cultura</h1>
                <a href="cultura.html" style="background-color: #DFD1C6">Explore!</a>
            </div>
        </div>
    </section>


    <div class="banner">
        <img src="assets/img/outros/banner.png">
    </div>
    <footer>
        <div class="inf-adicionais">
            <h3>INFORMAÇÕES ADICIONAIS:</h3>
            <nav>
                <a href="https://www.facebook.com/?locale=pt_BR">
                    <div class="i1">
                        <i class="bi bi-facebook"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/">
                    <div class="i2">
                        <i class="bi bi-instagram"></i>
                    </div>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5514991078235&text=Vim%20pelo%20site%20AEE%20Travel,%20tenho%20uma%20duvida!">
                    <div class="i3">
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </a>
                <a href="https://www.youtube.com/">
                    <div class="i4">
                        <i class="bi bi-youtube"></i>
                    </div>
                </a>
                <a href="https://twitter.com/?lang=pt-br">
                    <div class="i5">
                        <i class="bi bi-twitter-x"></i>
                    </div>
                </a>
                <a href="https://www.google.com/intl/pt-BR/gmail/about/">
                    <div class="i6">
                        <i class="bi bi-envelope"></i>
                    </div>
                </a>
            </nav>
        </div>
        <div class="box">
            <div class="primeira-parte">
                <h1>AAE Travel</h1>
                <p>'Viajar - é a coisa mais magnífica do mundo. Quanto mais você viaja, mais aprende'. Como Byl Bryson
                    um famoso escrito norte americano dizia. O processo de aprendizado também está relacionado à memória
                    que é o lema do nosso site AAE Travel Crie memórias, porque viajar é realmente criar memóorias.
                    Muitas das melhores lembranças que temos é em viagens.</p>
            </div>
            <div class="contatos">
                <h1>Contato</h1>
                <ul>
                    <li>
                        <i class="bi bi-house"></i>
                        Barra Bonita, SP, Brasil.
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        AAEtravel1234@gmail.com
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        +55 234 567 88
                    </li>
                    <li>
                        <i class="bi bi-people"></i>
                        Sobre Nós
                    </li>
                </ul>
            </div>
            <div class="explore">
                <h1>Explore</h1>
                <ul>
                    <a href="index.html">
                        <i class="bi bi-house"></i>
                        Inicio
                    </a>
                    <a href="#paises">
                        <i class="bi bi-globe2"></i>
                        Países
                    </a>
                    <a href="#agencias">
                        <i class="bi bi-geo-alt"></i>
                        Agências
                    </a>
                    <a href="destinos-salvos.html">
                        <i class="bi bi-heart"></i>
                        Favoritados
                    </a>
                </ul>
            </div>
        </div>
    </footer>
    <script src="assets/js/experiencias/script.js"></script>
</body>

</html>