<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Nós</title>
    <link rel="stylesheet" href="assets/css/sobre-nos.css">
</head>

<body>
    <main id="inicio">
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/outros/logo.png">
            </a>
        </div>

        <div class="historia">
            <div class="box-text">
                <h1>Conheça nossa história!</h1>
                <h3>Se você é apaixonado por viagens como nós, vai adorar conhecer sobre como chegamos aqui!</h3>
            </div>
            <a href="#historia">
                <div class="confira-aqui"> Confira aqui</div>
            </a>
        </div>
    </main>
    <section id="historia">
        <div class="missao">
            <h1>MISSÃO</h1>
            <p>Com uma poderosa página Sobre Nós, você pode se conectar melhor com os clientes e construir confiança.
                Com o tempo, essa confiança se transformará em receitas recorrentes de compradores fiéis que continuam a
                apoiar o seu negócio. Quer compartilhar suas ideias sobre a página Sobre Nós? Por favor, compartilhe-as
                com a nossa comunidade nos comentários abaixo!</p>
        </div>
        <div class="imagem-aviao">
            <img src="assets/img/sobre-nos/aviao.png">
        </div>
        <div class="imagem-pessoas">
            <img src="assets/img/sobre-nos/pessoas.png">
        </div>
        <div class="nossa-hitoria">
            <h1>NOSSA HISTÓRIA</h1>
            <p>Com uma poderosa página Sobre Nós, você pode se conectar melhor com os clientes e construir confiança.
                Com o tempo, essa confiança se transformará em receitas recorrentes de compradores fiéis que continuam a
                apoiar o seu negócio. Quer compartilhar suas ideias sobre a página Sobre Nós? Por favor, compartilhe-as
                com a nossa comunidade nos comentários abaixo!</p>
        </div>
    </section>

    <section id="equipe">
        <div class="titulo">
            <h1>NOSSA EQUPE</h1>
        </div>
        <div class="conainers">
            <div class="conainer">
                <img src="assets/img/experiencias/agencias/Expedia.png">
                <div class="descricao">
                    com marcadores de capítulo interativos, você pode conduzir o engajamento na página e deixar o leitor
                    pular para as seções e tópicos que ele deseja ler. Este elemento interativo pode aumentar o tempo
                    que o consumidor gasta na página e suas informações.
                </div>
            </div>
            <div class="conainer">
                <img src="assets/img/experiencias/agencias/Expedia.png">
                <div class="descricao">
                    com marcadores de capítulo interativos, você pode conduzir o engajamento na página e deixar o leitor
                    pular para as seções e tópicos que ele deseja ler. Este elemento interativo pode aumentar o tempo
                    que o consumidor gasta na página e suas informações.
                </div>
            </div>
            <div class="conainer">
                <img src="assets/img/experiencias/agencias/Expedia.png">
                <div class="descricao">
                    com marcadores de capítulo interativos, você pode conduzir o engajamento na página e deixar o leitor
                    pular para as seções e tópicos que ele deseja ler. Este elemento interativo pode aumentar o tempo
                    que o consumidor gasta na página e suas informações.
                </div>
            </div>
            <div class="conainer">
                <img src="assets/img/experiencias/agencias/Expedia.png">
                <div class="descricao">
                    com marcadores de capítulo interativos, você pode conduzir o engajamento na página e deixar o leitor
                    pular para as seções e tópicos que ele deseja ler. Este elemento interativo pode aumentar o tempo
                    que o consumidor gasta na página e suas informações.
                </div>
            </div>
        </div>
    </section>

    <footer>
        <div class="inf-adicionais">
            <h3>INFORMAÇÕES ADICIONAIS:</h3>
            <nav>
                <a href="https://www.facebook.com/?locale=pt_BR">
                    <div class="i1">
                        <i class="bi bi-facebook"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/">
                    <div class="i2">
                        <i class="bi bi-instagram"></i>
                    </div>
                </a>
                <a
                    href="https://api.whatsapp.com/send?phone=5514991078235&text=Vim%20pelo%20site%20AEE%20Travel,%20tenho%20uma%20duvida!">
                    <div class="i3">
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </a>
                <a href="https://www.youtube.com/">
                    <div class="i4">
                        <i class="bi bi-youtube"></i>
                    </div>
                </a>
                <a href="https://twitter.com/?lang=pt-br">
                    <div class="i5">
                        <i class="bi bi-twitter-x"></i>
                    </div>
                </a>
                <a href="https://www.google.com/intl/pt-BR/gmail/about/">
                    <div class="i6">
                        <i class="bi bi-envelope"></i>
                    </div>
                </a>
            </nav>
        </div>
        <div class="box">
            <div class="primeira-parte">
                <h1>AAE Travel</h1>
                <p>'Viajar - é a coisa mais magnífica do mundo. Quanto mais você viaja, mais aprende'. Como Byl Bryson
                    um famoso escrito norte americano dizia. O processo de aprendizado também está relacionado à memória
                    que é o lema do nosso site AAE Travel Crie memórias, porque viajar é realmente criar memóorias.
                    Muitas das melhores lembranças que temos é em viagens.</p>
            </div>
            <div class="contatos">
                <h1>Contato</h1>
                <ul>
                    <li>
                        <i class="bi bi-house"></i>
                        Barra Bonita, SP, Brasil.
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        AAEtravel1234@gmail.com
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        +55 234 567 88
                    </li>
                    <li>
                        <a href="#inicio">
                            <i class="bi bi-people"></i>
                            Sobre Nós
                        </a>
                    </li>
                </ul>
            </div>
            <div class="explore">
                <h1>Explore</h1>
                <ul>
                    <a href="index.html">
                        <i class="bi bi-house"></i>
                        Inicio
                    </a>
                    <a href="#paises">
                        <i class="bi bi-globe2"></i>
                        Países
                    </a>
                    <a href="#agencias">
                        <i class="bi bi-geo-alt"></i>
                        Agências
                    </a>
                    <a href="destinos-salvos.html">
                        <i class="bi bi-heart"></i>
                        Favoritados
                    </a>
                </ul>
            </div>
        </div>
    </footer>

</body>

</html>