<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="assets/css/login/style.css">
    <link rel="shortcut icon" href="assets/img/outros/favcon.png" type="image/x-icon">
</head>

<body>
    <main>
        <img src="assets/img/outros/favcon.png">

        <h1>EXPLORE O MUNDO!</h1>

        <form>
            <input type="text" name="email" id="email" placeholder="Email:">
            <input type="password" name="password" id="password" placeholder="Senha:">
            <input type="submit" style="width: 200px;">
        </form>
    </main>
</body>

</html>