<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="assets/css/termo-uso/style.css">
</head>

<body>
    <main>
        <div class="titulo">
            <div class="logo">
                <img src="assets/img/outros/favcon.png">
            </div>
            <h1>Termos de Privacidade e Condições de Uso</h1>
        </div>
        <div class="lista">
            <p>Coleta de Informações: Coletamos e usamos suas informações pessoais para melhorar nossos serviços.</p>
            <li>Segurança e Privacidade: Protegemos suas informações e não as compartilhamos sem seu consentimento, a
                menos que exigido por lei.
            </li>
            <li>Cookies e Tecnologias: Usamos cookies para melhorar sua experiência no site.
            </li>
            <li>Comunicações: Podemos enviar comunicações relacionadas aos nossos serviços, mas você pode optar por não
                recebê-las.</li>
            <li>Menores de Idade: Nosso site é para maiores de 18 anos, e menores devem obter consentimento dos pais.
            </li>
            <li>Alterações nos Termos: Podemos atualizar nossos termos ocasionalmente, e seu uso contínuo implica
                aceitação das alterações.</li>
            <li><a href="">Clique aqui e termine de ler nossos Termos de Privacidade e Condições de Uso</a></li>
        </div>
        <div class="check">
            <input type="checkbox">Concordo com os Termos de Privacidade e Condições de Uso
        </div>
        <div class="iniciar">
            <a href="tela-login.html">
                Iniciar Cadastro
            </a>
        </div>
    </main>
</body>

</html>