@model AAETravel.Models.Local

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="custom-container mt-4">
    <h1>Criar</h1>

    <h4>Local</h4>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Nome" class="control-label"></label>
                    <input required asp-for="Nome" class="form-control" placeholder='ex: "Parque da Cidade"' />
                    <span asp-validation-for="Nome" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Localizacao" class="control-label"></label>
                    <input required asp-for="Localizacao" class="form-control"
                        placeholder='ex: "Rua Barão de Capanema, 549 - Jardim Paulista, São Paulo, SP"' />
                    <span asp-validation-for="Localizacao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Telefone" class="control-label"></label>
                    <input required asp-for="Telefone" class="form-control" type="number"
                        placeholder='ex: "+99 (99)99999-9999"' />
                    <span asp-validation-for="Telefone" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HorarioFuncionamento" class="control-label"></label>
                    <input required asp-for="HorarioFuncionamento" class="form-control" placeholder='ex: "8h às 17h"' />
                    <span asp-validation-for="HorarioFuncionamento" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Descricao" class="control-label"></label>
                    <input required asp-for="Descricao" class="form-control"
                        placeholder='ex: "Um dos maiores parques urbanos..."' />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foto" class="control-label"></label>
                    <input required asp-for="Foto" class="form-control" type="file" />
                    <span asp-validation-for="Foto" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pais" class="control-label"></label>
                    <select asp-for="PaisId" class="form-control" asp-items="ViewBag.PaisId"></select>
                </div>
                <div class="form-group">
                    <label asp-for="Latitude" class="control-label"></label>
                    <input required asp-for="Latitude" class="form-control" placeholder='ex: "-99.9999"' type="number" />
                    <span asp-validation-for="Latitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Longitude" class="control-label"></label>
                    <input required asp-for="Longitude" class="form-control" placeholder='ex: "-99.9999"' type="number" />
                    <span asp-validation-for="Longitude" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input required type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index" class="back-to-list">Back to List</a>
    </div>
</div>

<style>
    body {
        background-color: black;
        color: white;
    }

    .custom-container {
        width: 50vw;
        margin: 0 auto;
        padding: 20px;
        border: 3px solid white;
        box-shadow: 0 0 30px rgba(155, 48, 255, 0.8);
        border-radius: 10px;
        background-color: #1c1c1c;
    }

    h1,
    h4 {
        color: white;
    }

    .form-control {
        color: rgb(0, 0, 0);
        border: 2px solid #6a0dad;
    }

    .form-control::placeholder {}

    .form-control:focus {
        border-color: #9b30ff;
        box-shadow: 0 0 8px rgba(155, 48, 255, 0.8);
    }

    label {
        color: white;
    }

    .btn-primary {
        background-color: #6a0dad;
        border-color: #6a0dad;
    }

    .btn-primary:hover {
        background-color: #9b30ff;
        border-color: #9b30ff;
    }

    .text-danger {
        color: #ff4d4d;
    }

    .back-to-list {
        color: #9b30ff;
    }

    .back-to-list:hover {
        color: #ff6aff;
    }
</style>
