@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;


}

& .container {
    width: 70%;
    height: 70%;
    background-color: #7748CF;
    display: flex;
    border-radius: 30px;

    & .bloco1 {
        width: 50%;

        & .editar-perfil {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;

            & .editar {
                background-color: black;
                box-shadow: 4px 4px 1px 6px white;
                border-radius: 5px;
                padding: 5px 10px;
                margin-left: -50%;
                margin-top: -10%;

                & h1 {
                    color: white;
                }
            }

            & .logo {
                width: 70%;
                border-radius: 50px;

                & img {
                    width: 100%;
                }
            }

            & button {
                width: 250px;
                height: 60px;
                border-radius: 15px;
                color: black;
                font-size: 18pt;
                font-weight: 700;
                margin-top: -50px;
                cursor: pointer;
                transition: 0.3s;

                &:hover {
                    color: #7748CF;
                    background-color: black;
                    transition: 0.3s;
                }
            }
        }
    }

    & .bloco2 {
        width: 50%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        & form {
            display: flex;
            flex-direction: column;
            background-color: #290a66cc;
            padding: 15px 15px;
            border-radius: 30px;

            & label {
                font-size: 12pt;
                margin-bottom: 5px;
                font-weight: 700;
                color: white;
            }

            & input {
                margin-bottom: 20px;
                height: 40px;
                width: 400px;
                padding: 10px;
            }
            & input[type="submit"]{
                position: absolute;
                width: 200px;
                bottom: 15%;
                right: 25%;
                border-radius: 30px;
                color: black;
                font-size: 15pt;
                font-weight: 700;
                padding-bottom: 30px;
                cursor: pointer;
                transition: 0.3s;

                &:hover{
                    color: #7748CF;
                    background-color: black;
                    transition: 0.3s;
                }
            }
        }
    }
}
