@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    font-family: "Open Sans", sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(../img/outros/fundos/fundo.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: drop-shadow(0 0 80px rgb(0, 0, 0));
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & nav {
        position: relative;
        top: 0;
        height: 100px;
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;

        & a {
            text-decoration: none;
            color: #C7CDD5;
            font-size: 15pt;
            font-weight: 600;
        }

        & i {
            font-size: 18pt;
            transition: 0.2s;
        }
    }

    & h1 {
        text-align: center;
        font-weight: 800;
        color: white;
        filter: drop-shadow(0 0 50px white);
    }

    a:hover i {
        color: #7748CF;
        transition: 0.3s;
    }

    a:hover {
        color: white;
    }


    & .logo img {
        height: 170px;
        margin-top: 60px;
        margin-top: 100px;
    }
}

& .paralax {
    width: 100%;
    & img {
        width: 100%;
    }
}




/* Experiencias */

section {
    width: 100%;
    min-height: 100vh;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    & h1 {
        position: relative;
        color: white;
        font-size: 30pt;
        font-weight: 600;
        text-decoration: underline #7748CF;
        text-shadow: 0 0 0 4px #7748CF;
        filter: drop-shadow(0 0 50px #7748CF);
        margin-top: 3%;
    }

    & h3 {
        color: white;
        font-size: 18pt;
        font-weight: 500;
    }
}

& .fundo-pais {
    width: 100vw;
    height: 100vh;
    position: absolute;
    padding-bottom: 2%;

    & img {
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: cover;
        filter: opacity(25%);
    }
}

.sobre-pais {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: black;
    padding-inline: 5%;
    padding-bottom: 2%;
    gap: 3%;

    & .foto {
        width: 50%;
        height: 50%;
        border-radius: 0 0 0 10px;

        & img {
            width: 100%;
            filter: drop-shadow(0 0 20px blue);
            border-radius: 20px;
            margin-bottom: 3%;
        }
    }

    & .texto {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        width: 50%;
        border-radius: 0 0 100px 0;
        border: 1px solid blue;
        padding: 1%;


        & h1 {
            font-size: 40pt;
            margin-bottom: 3%;
            color: white;
            text-decoration: underline #076437;
        }

        & h3 {
            font-size: 18pt;
            color: white;
            width: 90%;
            text-align: center;
            font-weight: 500;
        }
    }
}

hr {
    background: rgba(255, 255, 255, 0.226);
    height: 1px;
    width: 80%;
    margin: 0 auto;
}


.container {
    display: flex;
    flex-wrap: wrap;
    max-width: 85%;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    row-gap: 2%;
    gap: 2%;
}

.conainer-paises {
    width: 310pt;
    height: 230px;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.253);
    cursor: pointer;
    transition: 0.3s;
    margin-top: 5%;
    transition: 0.3s ease-in-out;

    &:hover {
        transform: scale(1.03);
        transition: 0.3s ease-in-out;
    }

    & img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        filter: brightness(50%);
        transition: 0.3s ease-in-out;
    }

    & h1 {
        position: relative;
        bottom: 165px;
        text-align: center;
        padding-left: 10px;
        color: white;
        font-size: 25pt;
        font-weight: 600;
        text-decoration: none;
        transition: 0.3s ease-in-out;
    }

    & .saiba-mais{
        width: 30%;
        padding: 3% 0 3% 0;
        text-align: center;
        background-color: #076437;
        position: relative;
        bottom: 90%;
        color: white;
        cursor: pointer;
        text-decoration: none;
        margin: 0 auto;
        border-radius: 12px;
        font-weight: 700;
        font-size: 14pt;
        transition: 0.3s;
        box-shadow: 4px 4px 10px rgba(255, 255, 255, 0.521);
        transition: 0.3s ease-in-out;

        &:hover {
            color: #076437;
            background: black;
            transition: 0.3s ease-in-out;
        }
    }

    &:hover {
        box-shadow: 0 0 10px 5px #076437;
        transition: 0.3s ease-in-out;

        & .saiba-mais {
            box-shadow: 0 0 10px 5px #074929;
            transition: 0.3s ease-in-out;
        }
    }
}

.icon {
    position: relative;
    bottom: 125%;
    left: 78%;
    width: 20%;

    & img {
        width: 100%;
        filter: brightness(50%);
    }
}

a {
    text-decoration: none;
}

/* FOOTER */

footer {
    width: 100vw;
    height: 40vh;
    background-color: #7748CF;

    & .inf-adicionais {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 10vh;
        color: #fff;
        padding: 10px 30px;
        font-size: 14px;
        font-weight: 600;
    }

    & nav {
        display: flex;
        width: 25%;
        justify-content: space-evenly;
        gap: 10px;

        & a {
            text-decoration: none;
            color: rgba(255, 255, 255, 0.523);

            & .i1:hover {
                color: rgb(7, 155, 241);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & .i2:hover {
                color: rgb(255, 0, 132);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & .i3:hover {
                color: rgb(0, 255, 21);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & .i4:hover {
                color: rgb(255, 0, 0);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & .i5:hover {
                color: rgb(255, 255, 255);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & .i6:hover {
                color: rgb(208, 255, 0);
                transform: scale(1.1);
                transition: 0.05s;
            }

            & i {
                transition: 0.3s;
                font-size: 25px;
            }
        }

    }
}

.banner {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 300px;
    background: black;

    & img {
        width: 50vw;
        margin: 50px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(255, 255, 255, 0.273);
    }

}

.box {
    width: 100%;
    height: 100%;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;

    & .primeira-parte {
        width: 40%;
        height: 100%;

        & h1 {
            text-align: start;
            text-decoration: underline #7748CF;
            margin: 20px 0
        }

        & p {
            text-align: justify;
        }
    }

    & .contatos {
        width: 20%;
        height: 100%;

        & h1 {
            text-align: start;
            text-decoration: underline #7748CF;
            margin: 20px 0
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 15px;
            list-style: none;

            & li i {
                font-size: 20px;
                margin-right: 10px;
            }
        }
    }

    & .explore {
        height: 100%;
        width: 20%;

        & h1 {
            text-align: start;
            text-decoration: underline #7748CF;
            margin: 20px 0
        }

        & ul {
            display: flex;
            flex-direction: column;
            gap: 15px;

            & a {
                color: #fff;

                &:hover {
                    text-decoration: underline #7748CF;
                }

                &:hover i {
                    color: #7748CF;
                }

                & i {
                    font-size: 20px;
                    margin-right: 10px;
                }
            }
        }
    }
}

/* Tela  média (Tablet) largura 768px*/

@media screen and (max-width: 768px) {
    header {
        & h1 {
            font-size: 25pt;
        }

        & a {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        & .logo img {
            height: 130px;
        }
    }

    #experiencias {
        h1 {
            font-size: 25pt;
        }

        h3 {
            font-size: 18pt;
            margin-bottom: 100px;
        }

        .container {
            row-gap: 50px;
        }
    }

    .banner img {
        width: 100%;
    }

    footer .inf-adicionais {
        padding-right: 150px;

        & nav {
            gap: 20px;
        }
    }

    .box {
        font-size: 10pt;

        .primeira-parte {
            margin-right: 10px;
        }

        .contatos {
            width: 30%;
        }
    }
}

@media screen and (max-width: 642px) {
    footer .inf-adicionais {
        font-size: 7pt;

        nav a i {
            font-size: 13pt;
        }
    }

    .banner img {
        height: 150px;
    }

    .box {
        font-size: 8pt;
    }
}

@media screen and (max-width: 642px) {
    footer .inf-adicionais {
        font-size: 7pt;

        nav a i {
            font-size: 13pt;
        }
    }

    .box {
        font-size: 8pt;
    }
}


/* Tela média (Celular) largura  */
@media screen and (max-width: 595px) {
    header {
        h1 {
            font-size: 18pt;
        }

        & nav a {
            font-size: 0pt;
        }

        .logo img {
            height: 100px;
        }
    }

    #experiencias {
        h1 {
            font-size: 18pt;
        }

        h3 {
            font-size: 12pt;
        }
    }

    footer .inf-adicionais {
        margin-top: -100px;
        padding-right: 170px;
        gap: 50px;

        & nav {
            gap: 20px;
        }
    }

    .box {
        font-size: 7pt;
        padding-inline: 25px;
        justify-content: space-between;

        .primeira-parte {
            margin-right: 10px;
            width: 50%;
        }

        .contatos {
            width: 40%;

            ul {
                gap: 10px;

                li i {
                    font-size: 13px;
                }
            }
        }

        .explore {
            display: none;
        }
    }
}