    <header id="header">
        <div class="voltar">
            <i class="bi bi-box-arrow-left"></i>
            Voltar
        </div>
        <div class="logo">
            <img src="assets/img/outros/logo.png">
        </div>
        <div class="user">
            <img src="assets/img/outros/icon-user.png">
        </div>
    </header>