<header id="header">
    <nav>
        <div class="inicio">
            <a asp-action="Index" asp-controller="Home">
                <i class="bi bi-house"></i>
                Inicio
            </a>
        </div>
        <div class="favoritados">
            <a href="destinos-salvos.html">
                <i class="bi bi-heart"></i>
                Favoritados
            </a>
        </div>
        <div class="logo">
            <img src="~/img/outros/logo.png">
        </div>
        <div class="paises">
            <a asp-action="Index" asp-controller="Home">
                <i class="bi bi-globe2"></i>
                Países
            </a>
        </div>
        <div class="agencias-home">
            <a href="#agencias">
                <i class="bi bi-geo-alt"></i>
                Agências
            </a>
        </div>
    </nav>
    <h1>EXPLORE O MUNDO!</h1>

    <img src="~/img/outros/paralax/preto-branco.png">

</header>
