<link rel="stylesheet" href="~/css/informacao.css">

<header id="header">
    <div class="voltar">
        <i class="bi bi-box-arrow-left"></i>
        Voltar
    </div>
    <div class="logo">
        <img src="/img/outros/logo.png">
    </div>
    <div class="user">
        <img src="~/img/outros/icon-user.png">
    </div>
</header>