<header id="header">
    <nav>
        <div class="logo">
            <a href="index.html">
                <img src="assets/img/outros/logo.png">
            </a>
        </div>
        <h3>EXPLORE O MUNDO!</h3>
        <div class="user">
            <img src="assets/img/outros/icon-user.png">
        </div>
    </nav>
    <div class="caixa">
        <h1>Aventura e Natureza</h1>
        <a href="#locais">
            Confira as atrações
        </a>
    </div>
    <img src="assets/img/outros/paralax/preto-verde.png" style="filter: brightness(50%);">
    <div class="back">
        <a href="experiencis.html#experiencias">
            <i class="bi bi-arrow-left-short"></i>
        </a>
    </div>
</header>