<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AEE Travel</title>
    <link rel="stylesheet" href="~/css/inicio/inicio.css">
    <link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @RenderBody()
    
    <footer>
        <div class="inf-adicionais">
            <h3>INFORMAÇÕES ADICIONAIS:</h3>
            <nav>
                <a href="https://www.facebook.com/?locale=pt_BR">
                    <div class="i1">
                        <i class="bi bi-facebook"></i>
                    </div>
                </a>
                <a href="https://www.instagram.com/">
                    <div class="i2">
                        <i class="bi bi-instagram"></i>
                    </div>
                </a>
                <a href="https://api.whatsapp.com/send?phone=5514991078235&text=Vim%20pelo%20site%20AEE%20Travel,%20tenho%20uma%20duvida!">
                    <div class="i3">
                        <i class="bi bi-whatsapp"></i>
                    </div>
                </a>
                <a href="https://www.youtube.com/">
                    <div class="i4">
                        <i class="bi bi-youtube"></i>
                    </div>
                </a>
                <a href="https://twitter.com/?lang=pt-br">
                    <div class="i5">
                        <i class="bi bi-twitter-x"></i>
                    </div>
                </a>
                <a href="https://www.google.com/intl/pt-BR/gmail/about/">
                    <div class="i6">
                        <i class="bi bi-envelope"></i>
                    </div>
                </a>
            </nav>
        </div>
        <div class="box">
            <div class="primeira-parte">
                <h1>AAE Travel</h1>
                <p>'Viajar - é a coisa mais magnífica do mundo. Quanto mais você viaja, mais aprende'. Como Byl Bryson
                    um famoso escrito norte americano dizia. O processo de aprendizado também está relacionado à memória
                    que é o lema do nosso site AAE Travel Crie memórias, porque viajar é realmente criar memóorias.
                    Muitas das melhores lembranças que temos é em viagens.</p>
            </div>
            <div class="contatos">
                <h1>Contato</h1>
                <ul>
                    <li>
                        <i class="bi bi-house"></i>
                        Barra Bonita, SP, Brasil.
                    </li>
                    <li>
                        <i class="bi bi-envelope"></i>
                        AAEtravel1234@gmail.com
                    </li>
                    <li>
                        <i class="bi bi-telephone"></i>
                        +55 234 567 88
                    </li>
                    <li>
                        <i class="bi bi-people"></i>
                        Sobre Nós
                    </li>
                </ul>
            </div>
            <div class="explore">
                <h1>Explore</h1>
                <ul>
                    <a href="index.html">
                        <i class="bi bi-house"></i>
                        Inicio
                    </a>
                    <a href="#paises">
                        <i class="bi bi-globe2"></i>
                        Países
                    </a>
                    <a href="#agencias">
                        <i class="bi bi-geo-alt"></i>
                        Agências
                    </a>
                    <a href="destinos-salvos.html">
                        <i class="bi bi-heart"></i>
                        Favoritados
                    </a>
                </ul>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script defer src="~/js/inicio/script.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>





<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AAETravel</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AAETravel.styles.css" asp-append-version="true" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid" >
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between ">
                    <ul class="navbar-nav flex-grow-1 d-flex justify-content-around" >
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"
                                asp-action="Favoritados">Favoritados</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">
                                <img src="~/img/outros/logo.png" class="figure-img img-fluid rounded">
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"asp-action="Index">Países</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home"asp-action="Index">Agências</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
