<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="~/css/music.css">
    <script src="~/js/Music.js" defer></script>
</head>

<body>

  <audio id="backgroundMusic" loop autoplay></audio>

    @RenderBody()
</body>

</html>