<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="~/css/music.css">
  <script src="~/js/Music.js" defer></script>
  <link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">

</head>

<body>

  <audio id="backgroundMusic" loop autoplay></audio>

  @RenderBody()
</body>

</html>