@model string
@{
    ViewData["Title"] = "AcessoNegado";
    Layout = null;

}
<link rel="stylesheet" href="~/css/Account/AcessoNegado.css">

<html>
<body>
    <div class="container">
        <div class="gif">
            <img src="~/img/outros/danied.png" />
        </div>
        <a asp-action="Index" asp-controller="Home" class="voltar"> Voltar para Pagina inicial </a>
    </div>
</body>
</html>

