@model AAETravel.ViewModels.LoginVM

@{
    ViewData["Title"] = "Login";
    ViewData["SubTitle"] = "Entrar";
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css">
<link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<body>
    <main>
        <form method="post">
            <div asp-validation-summary="ModelOnly" hidden></div>
            <input type="hidden" asp-for="UrlRetorno">

            <div class="login-img">
                <img src="~/img/outros/favcon.png" alt="Logo">
            </div>

            <h1 class="explore">EXPLORE O MUNDO!</h1>

            <div class="password-container">
                <input asp-for="Email" placeholder="Email">
                <label asp-for="Email" style="color: white;"></label>
                <span asp-validation-for="Email" text-danger text-sm></span>
            </div>

            <div class="password-container" style="position: relative;">
                <input asp-for="Senha" id="password" placeholder="Senha">
                <label asp-for="Senha" style="color: white;"></label>
                <button type="button" class="toggle-password">🐵</button>
                <span asp-validation-for="Senha"></span>
            </div>

            <div>
                <input type="checkbox" asp-for="Lembrar">
                <label style="color: white;" asp-for="Lembrar"></label>
            </div>

            <button class="Entrar" type="submit">Entrar</button>

            <p style="color: white;">
                Ainda não possui uma conta?
                <a asp-action="Registro" asp-controller="Account" >Registre-se
                    aqui</a>
            </p>
        </form>
    </main>

    <script>
        const togglePasswordVisibility = (passwordField) => {
            return passwordField.type === 'password' ? 'text' : 'password';
        };

        document.querySelector('.toggle-password').addEventListener('click', function () {
            const passwordField = document.getElementById('password');


            passwordField.type = togglePasswordVisibility(passwordField);

            this.textContent = passwordField.type === 'password' ? '🐵' : '🙈';
        });
    </script>
</body>
