@model AAETravel.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = null;
}
<link rel="stylesheet" href="~/css/login.css">

<body>
    <main>
        <div class="login-img">
            <img src="~/img/outros/favcon.png">
        </div>
        <h1>EXPLORE O MUNDO!</h1>

        <form>
            <input type="text" name="email" id="email" placeholder="Email:">
            <input type="password" name="password" id="password" placeholder="Senha:">
            <input type="submit" style="width: 200px;">
        </form>
        <p>
            <a asp-action="Register">Register as a new user</a>
        </p>
    </main>
</body>