@model AAETravel.ViewModels.RegistroVM

@{
    ViewData["Title"] = "Registro";
    Layout = null;
}
<link rel="stylesheet" href="~/css/Registrar.css">
<link rel="shortcut icon" href="~/img/outros/favcon.png" type="image/x-icon">

<body>
    <main>
        @if (!Model.Enviado)
        {
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" hidden></div>

                <div class="login-img">
                    <img src="~/img/outros/favcon.png" alt="Logo">
                </div>

                <h1 class="explore">Crie sua Conta</h1>

                <div class="password-container">
                    <input asp-for="Email" placeholder="Email" class="form-control" />
                    <label asp-for="Email" style="color: white;"></label>
                    <span asp-validation-for="Email" class="text-danger text-sm"></span>
                </div>

                <div class="password-container" style="position: relative;">
                    <input asp-for="Senha" type="password" id="password" placeholder="Senha" class="form-control" />
                    <label asp-for="Senha" style="color: white;"></label>
                    <button type="button" class="toggle-password">🐵</button>
                    <span asp-validation-for="Senha" class="text-danger text-sm"></span>
                </div>


                <div class="password-container" style="position: relative;">
                    <input asp-for="ConfirmacaoSenha" type="password" id="confirmPassword" placeholder="Confirmar Senha"
                        class="form-control" />
                    <label asp-for="ConfirmacaoSenha" style="color: white;"></label>
                    <button type="button" class="toggle-password">🐵</button>
                    <span asp-validation-for="ConfirmacaoSenha" class="text-danger text-sm"></span>
                </div>

                <button type="submit" class="Criar">Criar Conta</button>

                <p>
                    <a asp-action="Login">Fazer Login</a>
                </p>
            </form>
        }
        else
        {
            <div class="container">
                <div class="text-center text-white mb-4">
                    <p class="h5 mb-5">Acesse o email informado para concluir o processo de criação!</p>
                    <a asp-action="Login" asp-controller="Account" class="btn btn-danger text-white">Ir para o Login</a>
                    <a asp-action="Index" asp-controller="Home" class="btn btn-primary text-white">Voltar à página
                        inicial</a>
                </div>
            </div>
        }
    </main>
    @section Scripts {
        <script defer async>
            document.querySelectorAll('.toggle-password').forEach(button => {
                button.addEventListener('click', function () {
                    console.log("Botão clicado");
                    const passwordField = this.previousElementSibling;
                    passwordField.type = togglePasswordVisibility(passwordField);
                    this.textContent = passwordField.type === 'password' ? '🐵' : '🙈';
                });
            });

        </script>
    }

</body>
